# Node.js dependencies
api/node_modules/
api/npm-debug.log
api/yarn.lock
api/package-lock.json
# Build output
api/dist/

# Logs
*.log

# Environment variables
api/.env
api/.env.local
api/.env.development
api/.env.production

# TypeScript compiled files
*.tsbuildinfo

# Editor files
api/.vscode/
*.code-workspace

#frontend
frontend/package-lock.json
frontend/node_modules/